__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.idea/
.vscode/
*.log
.DS_Store
PREPLINE.pdf
CLAUDE.md
B.Tech_CSE_2024_2025(1) (1) (1).pdf
questions.csv
reports.csv
B.Tech_CSE_2024_2025(1) (1).pdf